.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px; /* Ajustez cette valeur en fonction de la hauteur de votre pied de page */
    background-color: #f0f0f0;
}

.logo {
    font-style: italic;
}
